*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
body{
    font-family:'montseratt','san-serif';
}
.app{
    background-image : url('./images/cloudy.jpg');
    background-size:100vw 100%;
    background-position: bottom;
   
    transition: all 1000ms ease;
   
}
.app-warm{
    background-image:url('./images/james-day-5YWf-5hyZcw-unsplash.jpg');
    background-size:100vw 100%;
    background-position: bottom;
   
    
    transition: all 5000ms ease;


}
main{
    min-height : 100vh;
    background-image : linear-gradient(to bottom,rgba(0,0,0,0.2),rgba(0,0,0,0.75));
    padding : 25px;
    
}
.search-box{
    width : 100vh;
    margin : 0 0 75px;
    
  
}
.search{
    margin-left :40%;
}

.search-box .search-bar{
    display : block;
    width :50vw;
   
   

    appearance : none;
    background : none;
    border : none;
    outline : none;

    background-color : rgba(255,255,255,0.5);
    border-radius : 0vw 0vw 3vw 3vw;
    margin-top : 1vh;
    box-shadow : 0px 1vw rgba(0,0,0,0.2);

    color : #313131;
    font-size : 4vw;

    transition: 0.4 ease;
}
.location-box .location{
    padding-top: 2vh;
    color : #FFF;
    font-size : 2.5vw;
    font-weight : 500;
    text-align : center;
    text-shadow : 1vw 1vw rgba(50, 50, 70, 0.5 ); 
    margin-bottom: 2vw;
    
}
.location-box .date{
    color : #FFF;
    font-size : 2.5vw;
    font-weight : 300;
    font-style : italic;
    text-align : center;
    text-shadow : 2px 2px rgba(50, 50, 70, 0.5 ); 
    margin-bottom: 3vw;
   
}
.weather-box .temp{
   
    position : relative;
    
    margin-left:38vw;
    display : inline-block;
    background-color : rgba(255,255,255,0.1);
    border-radius : 3vw;
    padding : 1vw 2vh ;
    margin-bottom:5vw;
    
     color : rgba(255,255,255,0.5);
     font-size : 6vw;
     font-weight : 900;

     text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
     text-align: center;
     

}
.weather1-box {
    
    background-color: rgba(255,255,255,0.1);
    font-size: 2vw;
    font-weight: 600;
    color: rgba(255,255,255,0.4);
    text-shadow:  3px 6px rgba(50, 50, 70, 0.5);
    padding : 1vw 2vh ;
    text-align:center;
    border-radius: 5vw;
    display : inline-block;
   margin-left:40vw;
   margin-bottom: 0.5vw;
    
   
    
}
